<html>
<head>
<link rel="stylesheet" href="static/css/form.css" />
<title>X-TOM</title>
</head>

<header>
  <div>
    <div style="position: relative; left: 43%">
      <img class="title_icon" src="static/img/xtom.png" alt="X-TOM"></img>
    </div>
   <div style="color:#ffa500; text-align:center;font-size:600%;">X-ToM</div>
   <div style="color:black; text-align:center; font-size:250%;">Explanation with Theory of Mind </div>
  </div>
</header>

<body>
<br /><br />
  <div style="position: absolute; left: 20%;">
    <button class="btn" >About</button>

  </div>
  <div style="position: absolute; left: 40%;">
    <a href="test2.html"><button id="demo" class="btn" >Online Demo</button></a>
    <div>
      <img class="icon" src="static/img/game.png" alt="Explainer"></img>
    </div>
  </div>
  <div style="position: absolute; left: 60%;">
    <a href="explainer.html"><button class="btn" >Explainer</button></a>
    <div>
      <img class="icon" src="static/img/explainer.png" alt="Explainer"></img>
    </div>
  </div>
  <div style="position: absolute; left: 80%;">
    <a href="evaluator.html"><button class="btn">Evaluator</button></a>
    <div>
      <img class="icon" src="static/img/eval.png" alt="Evaluator"></img>
    </div>
  </div>


  <div class="footer">&copy; VCLA 2018. All Rights Reserved</div>
</body>
</html>


