<html>
<head>
<link rel="stylesheet" href="static/css/form.css" />
<title>X-TOM</title>
</head>

<header>

</header>


<body>
  <div style="left:640;color:#ffa500; position: absolute; top:120;  font-size:300%;">Login</div>
  <form style="text-align: center; position: relative; top: 200; font-size:120%;">
  First name:
  <input type="text" name="firstname"><br><br>
  Last name:
  <input type="text" name="lastname"><br><br>
  Organization:
  <input type="text" name="orgname"><br><br>
</form><br><br><br><br><br><br><br><br>

    <button class="btn" onclick="SaveData()" style="position: relative; top:30; left: 800;">Submit</button>
    <script type="text/javascript">
     function SaveData(){
       location.href = "test3.html";

     }
</script>


</body>
</html>
