<html>
<head>
<title>Explainer</title>
<link rel="stylesheet" href="static/css/explanation_evaluator_style.css" />
</head>

<header>
   <div style="color:black; text-align:center; font-size:250%;">Explainer</div>
</header>

<body>
<br /><br />
  <a href="test.html"><button class="btn" style="position: absolute; left: 10%;">Back</button></a>
<br /><br />
<div id="explanation_buttons">
  <a href="wo_explanation.html"><button class="btn">Without Explanation</button></a>
  <a href="attention_maps.html"><button class="btn">Attention Maps on Explanation</button></a>
  <a href="x_tom_explanations.html"><button class="btn">X-ToM Explanations</button></a>
</div>	
</body>
</html>