<html>
<head>
<!-- <title>X-ToM Explanations</title> -->
<link rel="stylesheet" href="static/css/explanation_evaluator_style.css" />
</head>

<header>
   <div style="color:black; text-align:center; font-size:250%;">Familiarization Phase</div>
</header>

<body>
<br /><br />
<br /><br /><br /><br />
  <h2> You will have 45 seconds to observe machine's output/analysis for each image.</h2>
  <h2 id="timer"></h2>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="static/img/la6xtm3/1.PNG" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="static/img/la6xtm3/2.PNG" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 2</div>
    <img src="static/img/la6xtm3/3.PNG" style="width:100%">

  </div>

   <div class="mySlides fade">
    <div class="numbertext">4 / 2</div>
    <img src="static/img/la6xtm3/4.PNG" style="width:100%">

  </div>

   <div class="mySlides fade">
    <div class="numbertext">5 / 2</div>
    <img src="static/img/la6xtm3/5.PNG" style="width:100%">

  </div>

  <div class="mySlides fade">

    <h1> You are now done with your Familiarization Phase. Please <a href = "http://131.179.124.79:5000/la6xtm3_test.html" target="_blank">click here</a> to start the Testing Phase. </h1>

  </div>

</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
   <span class="dot" ></span> 
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span>
  <span class="dot" ></span> 
</div>

</body>
<script type="text/javascript" src="static/js/slideshow.js"></script>
</html>