<html>
<head>
<title>X-ToM Explanations</title>
<link rel="stylesheet" href="static/css/explanation_evaluator_style.css" />
</head>

<header>
   <div style="color:black; text-align:center; font-size:250%;">X-ToM Explanations</div>
</header>

<body>
<br /><br />
  <a href="explainer.html"><button class="btn" style="position: absolute; left: 10%;">Back</button></a>
<br /><br /><br /><br />
  <h2> You will have 30 seconds to observe each image.</h2>
  <h2 id="timer"></h2>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 4</div>
    <img src="static/img/x_tom1.png" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 4</div>
    <img src="static/img/x_tom2.png" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 4</div>
    <img src="static/img/x_tom3.png" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 4</div>
    <img src="static/img/x_tom4.png" style="width:100%">

  </div>

  <div class="mySlides fade">

    <h1> Finished with this set of pictures. </h1>

  </div>

</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" ></span> 
  <span class="dot" ></span> 
  <span class="dot" ></span> 
  <span class="dot" ></span> 
</div>

</body>
<script type="text/javascript" src="static/js/slideshow.js"></script>
</html>