.btn {
    background-color: white; /* Green */
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#explanation_buttons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#explanation_buttons a{
  display: inline-block;
}

/* Slideshow container */
.slideshow-container {
  max-width: 60vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: gray;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style the form */
#testForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Hide all steps by default: */
.tab {
  display: none;
  text-align: left;
}

p {
  text-align: left;
}

.form {
  width: 80%;
  padding-left: 20%;
  margin-left: auto;
  margin-right:auto;
}

.table_titles {
  text-align: center;
}

.result_table tr:nth-child(even){background-color: #f2f2f2;}

.result_table tr:hover {background-color: #ddd;}

.result_table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: gold;
    color: gray;
}

.result_table td{
  padding-top: 4px;
  padding-bottom: 4px;
}

.result_table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
